SolarPowerCalcWeb/war/CalculatorControllerWSService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.6 in JDK 6. -->
<definitions targetNamespace="http://ws.greenhat.inn372.qut.edu.au/" name="CalculatorControllerWSService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://ws.greenhat.inn372.qut.edu.au/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://ws.greenhat.inn372.qut.edu.au/" schemaLocation="CalculatorControllerWSService_schema1.xsd"/>
    </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ws.greenhat.inn372.qut.edu.au/">
        	<xsd:element name="getSunLightHours">
        		<xsd:complexType>
        			<xsd:sequence>
        				<xsd:element name="latitude"
        					type="xsd:double">
        				</xsd:element>
        				<xsd:element name="longitude"
        					type="xsd:double">
        				</xsd:element>
        			</xsd:sequence>
        		</xsd:complexType>
        	</xsd:element>
        	<xsd:element name="getSunLightHoursResponse">
        		<xsd:complexType>
        			<xsd:sequence>
        				<xsd:element name="sunLinghtHours" type="xsd:double"></xsd:element>
        			</xsd:sequence>
        		</xsd:complexType>
        	</xsd:element></xsd:schema>
    </types>
  <message name="saveCalculation">
    <part name="parameters" element="tns:saveCalculation"/>
  </message>
  <message name="saveCalculationResponse">
    <part name="parameters" element="tns:saveCalculationResponse"/>
  </message>
  <message name="deleteCalculation">
    <part name="parameters" element="tns:deleteCalculation"/>
  </message>
  <message name="deleteCalculationResponse">
    <part name="parameters" element="tns:deleteCalculationResponse"/>
  </message>
  <message name="getCalculations">
    <part name="parameters" element="tns:getCalculations"/>
  </message>
  <message name="getCalculationsResponse">
    <part name="parameters" element="tns:getCalculationsResponse"/>
  </message>
  <message name="getCalculation">
    <part name="parameters" element="tns:getCalculation"/>
  </message>
  <message name="getCalculationResponse">
    <part name="parameters" element="tns:getCalculationResponse"/>
  </message>
  <message name="calcEnergyProduction">
    <part name="parameters" element="tns:calcEnergyProduction"/>
  </message>
  <message name="calcEnergyProductionResponse">
    <part name="parameters" element="tns:calcEnergyProductionResponse"/>
  </message>
  <message name="getEquipments">
    <part name="parameters" element="tns:getEquipments"/>
  </message>
  <message name="getEquipmentsResponse">
    <part name="parameters" element="tns:getEquipmentsResponse"/>
  </message>
  <message name="saveUserProfile">
    <part name="parameters" element="tns:saveUserProfile"/>
  </message>
  <message name="saveUserProfileResponse">
    <part name="parameters" element="tns:saveUserProfileResponse"/>
  </message>
  <message name="validateCredentials">
    <part name="parameters" element="tns:validateCredentials"/>
  </message>
  <message name="validateCredentialsResponse">
    <part name="parameters" element="tns:validateCredentialsResponse"/>
  </message>
  <message name="getPanels">
    <part name="parameters" element="tns:getPanels"/>
  </message>
  <message name="getPanelsResponse">
    <part name="parameters" element="tns:getPanelsResponse"/>
  </message>
  <message name="getSunLightHoursRequest">
  	<part name="parameters" element="tns:getSunLightHours"></part>
  </message>
  <message name="getSunLightHoursResponse">
  	<part name="parameters" element="tns:getSunLightHoursResponse"></part>
  </message>
  <portType name="CalculatorControllerWS">
    <operation name="saveCalculation">
      <input message="tns:saveCalculation"/>
      <output message="tns:saveCalculationResponse"/>
    </operation>
    <operation name="deleteCalculation">
      <input message="tns:deleteCalculation"/>
      <output message="tns:deleteCalculationResponse"/>
    </operation>
    <operation name="getCalculations">
      <input message="tns:getCalculations"/>
      <output message="tns:getCalculationsResponse"/>
    </operation>
    <operation name="getCalculation">
      <input message="tns:getCalculation"/>
      <output message="tns:getCalculationResponse"/>
    </operation>
    <operation name="calcEnergyProduction">
      <input message="tns:calcEnergyProduction"/>
      <output message="tns:calcEnergyProductionResponse"/>
    </operation>
    <operation name="getEquipments">
      <input message="tns:getEquipments"/>
      <output message="tns:getEquipmentsResponse"/>
    </operation>
    <operation name="saveUserProfile">
      <input message="tns:saveUserProfile"/>
      <output message="tns:saveUserProfileResponse"/>
    </operation>
    <operation name="validateCredentials">
      <input message="tns:validateCredentials"/>
      <output message="tns:validateCredentialsResponse"/>
    </operation>
    <operation name="getPanels">
      <input message="tns:getPanels"/>
      <output message="tns:getPanelsResponse"/>
    </operation>
    <operation name="getSunLightHours">
    	<input message="tns:getSunLightHoursRequest"></input>
    	<output message="tns:getSunLightHoursResponse"></output>
    </operation>
  </portType>
  <binding name="CalculatorControllerWSPortBinding" type="tns:CalculatorControllerWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="saveCalculation">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="deleteCalculation">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getCalculations">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getCalculation">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="calcEnergyProduction">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getEquipments">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="saveUserProfile">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="validateCredentials">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getPanels">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getSunLightHours">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="CalculatorControllerWSService">
    <port name="CalculatorControllerWSPort" binding="tns:CalculatorControllerWSPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

