SolarPowerCalcWeb/war/CalculatorControllerWSService_schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="http://ws.greenhat.inn372.qut.edu.au/" xmlns:tns="http://ws.greenhat.inn372.qut.edu.au/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="calcEnergyProduction" type="tns:calcEnergyProduction"/>

  <xs:element name="calcEnergyProductionResponse" type="tns:calcEnergyProductionResponse"/>

  <xs:element name="deleteCalculation" type="tns:deleteCalculation"/>

  <xs:element name="deleteCalculationResponse" type="tns:deleteCalculationResponse"/>

  <xs:element name="getCalculation" type="tns:getCalculation"/>

  <xs:element name="getCalculationResponse" type="tns:getCalculationResponse"/>

  <xs:element name="getCalculations" type="tns:getCalculations"/>

  <xs:element name="getCalculationsResponse" type="tns:getCalculationsResponse"/>

  <xs:element name="getEquipments" type="tns:getEquipments"/>

  <xs:element name="getEquipmentsResponse" type="tns:getEquipmentsResponse"/>

  <xs:element name="getPanels" type="tns:getPanels"/>

  <xs:element name="getPanelsResponse" type="tns:getPanelsResponse"/>

  <xs:element name="saveCalculation" type="tns:saveCalculation"/>

  <xs:element name="saveCalculationResponse" type="tns:saveCalculationResponse"/>

  <xs:element name="saveUserProfile" type="tns:saveUserProfile"/>

  <xs:element name="saveUserProfileResponse" type="tns:saveUserProfileResponse"/>

  <xs:element name="validateCredentials" type="tns:validateCredentials"/>

  <xs:element name="validateCredentialsResponse" type="tns:validateCredentialsResponse"/>

  <xs:complexType name="deleteCalculation">
    <xs:sequence>
      <xs:element name="calculator" type="tns:calculator" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="calculator">
    <xs:sequence>
      <xs:element name="calculations" type="tns:calculation" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="customer" type="tns:customer" minOccurs="0"/>
      <xs:element name="datetime" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="equipment" type="tns:equipment" minOccurs="0"/>
      <xs:element name="key" type="xs:string" minOccurs="0"/>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
      <xs:element name="status" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="calculation">
    <xs:sequence>
      <xs:element name="annualSaving" type="xs:double"/>
      <xs:element name="annualSolarPower" type="xs:double"/>
      <xs:element name="bank1DailySolarPower" type="xs:double"/>
      <xs:element name="bank1Efficiency" type="xs:double"/>
      <xs:element name="bank2DailySolarPower" type="xs:double"/>
      <xs:element name="bank2Efficiency" type="xs:double"/>
      <xs:element name="cumulativeSaving" type="xs:double"/>
      <xs:element name="dailySaving" type="xs:double"/>
      <xs:element name="dailySolarPower" type="xs:double"/>
      <xs:element name="exportedGeneration" type="xs:double"/>
      <xs:element name="moneyEarned" type="xs:double"/>
      <xs:element name="moneySaved" type="xs:double"/>
      <xs:element name="panelEfficiency" type="xs:double"/>
      <xs:element name="paybackPeriod" type="xs:double"/>
      <xs:element name="replacementGeneration" type="xs:double"/>
      <xs:element name="returnOnInvestment" type="xs:double"/>
      <xs:element name="tariff11Fee" type="xs:double"/>
      <xs:element name="year" type="xs:int" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="customer">
    <xs:sequence>
      <xs:element name="electricityUsage" type="tns:electricityUsage" minOccurs="0"/>
      <xs:element name="location" type="tns:location" minOccurs="0"/>
      <xs:element name="tariff" type="tns:tariff" minOccurs="0"/>
      <xs:element name="userProfile" type="tns:userProfile" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="electricityUsage">
    <xs:sequence>
      <xs:element name="dailyAverageUsage" type="xs:double"/>
      <xs:element name="dayLightElectricityUsage" type="xs:double"/>
      <xs:element name="dayTimeHourlyUsage" type="xs:double"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="location">
    <xs:sequence>
      <xs:element name="city" type="xs:string" minOccurs="0"/>
      <xs:element name="region" type="xs:string" minOccurs="0"/>
      <xs:element name="roof" type="tns:roof" minOccurs="0"/>
      <xs:element name="sunLightHours" type="xs:double"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="roof">
    <xs:sequence>
      <xs:element name="banks" type="tns:bank" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="efficiencyLossNorth" type="xs:double"/>
      <xs:element name="efficiencyLossWest" type="xs:double"/>
      <xs:element name="height" type="xs:double"/>
      <xs:element name="percentageNorth" type="xs:double"/>
      <xs:element name="percentageWest" type="xs:double"/>
      <xs:element name="width" type="xs:double"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="bank">
    <xs:sequence>
      <xs:element name="angle" type="xs:double"/>
      <xs:element name="angleEfficiencyLoss" type="xs:double"/>
      <xs:element name="bankId" type="xs:int"/>
      <xs:element name="efficiency" type="xs:double" minOccurs="0"/>
      <xs:element name="numberOfPanels" type="xs:int"/>
      <xs:element name="orientation" type="xs:double"/>
      <xs:element name="orientationEfficiencyLoss" type="xs:double"/>
      <xs:element name="powerOutput" type="xs:double"/>
      <xs:element name="selectedOrientation" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="tariff">
    <xs:sequence>
      <xs:element name="annualTariffIncrease" type="xs:double"/>
      <xs:element name="feedInFee" type="xs:double"/>
      <xs:element name="tariff11Fee" type="xs:double"/>
      <xs:element name="tariffFeePerYear" type="xs:double"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="userProfile">
    <xs:sequence>
      <xs:element name="email" type="xs:string" minOccurs="0"/>
      <xs:element name="key" type="xs:string" minOccurs="0"/>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
      <xs:element name="password" type="xs:string" minOccurs="0"/>
      <xs:element name="type" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="equipment">
    <xs:sequence>
      <xs:element name="battery" type="tns:battery" minOccurs="0"/>
      <xs:element name="cost" type="xs:double"/>
      <xs:element name="inverter" type="tns:inverter" minOccurs="0"/>
      <xs:element name="kitName" type="xs:string" minOccurs="0"/>
      <xs:element name="panels" type="tns:panel" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="size" type="xs:double"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="battery">
    <xs:sequence>
      <xs:element name="cost" type="xs:double"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="inverter">
    <xs:sequence>
      <xs:element name="cost" type="xs:double"/>
      <xs:element name="efficiency" type="xs:double"/>
      <xs:element name="efficiencyLoss" type="xs:double"/>
      <xs:element name="lifespan" type="xs:double"/>
      <xs:element name="replacementCost" type="xs:double"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="panel">
    <xs:sequence>
      <xs:element name="brand" type="xs:string" minOccurs="0"/>
      <xs:element name="cost" type="xs:double"/>
      <xs:element name="efficiency" type="xs:double"/>
      <xs:element name="efficiencyLoss" type="xs:double"/>
      <xs:element name="height" type="xs:double"/>
      <xs:element name="id" type="xs:int"/>
      <xs:element name="powerRating" type="xs:double"/>
      <xs:element name="size" type="xs:double"/>
      <xs:element name="width" type="xs:double"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="deleteCalculationResponse">
    <xs:sequence>
      <xs:element name="result" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="calcEnergyProduction">
    <xs:sequence>
      <xs:element name="calculator" type="tns:calculator" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="calcEnergyProductionResponse">
    <xs:sequence>
      <xs:element name="calculator" type="tns:calculator" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="saveUserProfile">
    <xs:sequence>
      <xs:element name="userProfile" type="tns:userProfile" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="saveUserProfileResponse">
    <xs:sequence>
      <xs:element name="userProfile" type="tns:userProfile" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getEquipments">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getEquipmentsResponse">
    <xs:sequence>
      <xs:element name="equipments" type="tns:equipment" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="saveCalculation">
    <xs:sequence>
      <xs:element name="calculator" type="tns:calculator" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="saveCalculationResponse">
    <xs:sequence>
      <xs:element name="result" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getCalculation">
    <xs:sequence>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getCalculationResponse">
    <xs:sequence>
      <xs:element name="calculator" type="tns:calculator" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getPanels">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getPanelsResponse">
    <xs:sequence>
      <xs:element name="panels" type="tns:panel" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getCalculations">
    <xs:sequence>
      <xs:element name="userProfile" type="tns:userProfile" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getCalculationsResponse">
    <xs:sequence>
      <xs:element name="calculators" type="tns:calculator" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="validateCredentials">
    <xs:sequence>
      <xs:element name="email" type="xs:string" minOccurs="0"/>
      <xs:element name="password" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="validateCredentialsResponse">
    <xs:sequence>
      <xs:element name="result" type="tns:userProfile" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

